
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    color: #291f1a;
}

nav {
    width: 100%;
    position: fixed;
    text-align: right;
    background-color: rgba(255, 255, 255, 0);;
    z-index: 10;
    
    
}

nav ul li {
    display: inline-block;
    text-align: center;
    padding: 20px;
}

nav ul li a {
    font-weight: 300;
    text-decoration: none;
    text-transform: lowercase;
}

nav ul li a:hover {
    color: green;
}

section {
    width: 100%;
    margin: 0;
}


/*sekcja gdzie wyswietla się imie i nazwisko*/

section#imie {
    height: 90vh;
    background-image: url(../img/header-background.jpg);
    background-size: cover;
    text-align: center;
}

section#imie h1 {
    font-size: 120px;
    height: 100px;
    display: inline-block;
    margin-top: 230px;
    line-height: 100px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 300;
}

section#imie h1 span#nazwisko {
    color: green;
    font-weight: 800;
}

section#imie h1 span#pod_nazwiskiem {
    font-size: 40px;
    color: white;
    font-weight: 100;
  
}


/*sekcja z opisem o mnie*/

section#omnie {
    position: relative;
    background: #f9fcfe;
    text-align: center;
    overflow: hidden;
    box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.75);
}

section#omnie header {
    margin: 30px 0;
}

section#omnie h1 {
    font-weight: 300;
    display: inline-block;
    margin-top: 30;
}

section#omnie h1 span {
    color: green;
    font-weight: 800;
}

section#omnie div.o-mnie-foto {
    width: 50%;
    float: left;
}

section#omnie img.foto-ja {
    width: 100%;
    height: auto;
    text-align: center;
    box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.75);
}

section#omnie div.o-mnie-opis {
    width: 50%;
    text-align: justify;
    float: left;
    line-height: 24px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

section#omnie div.o-mnie-opis p {
    width: 100%;
}


/*sekcja moje umiejetnosci*/

section#umiejetnosci {
    background-color: white;
    text-align: center;
    overflow: hidden;
}

section#umiejetnosci header {
    margin: 30px 0;
}

section#umiejetnosci h1 {
    font-weight: 100;
    display: inline-block;
    margin-top: 30;
}

section#umiejetnosci h1 span {
    color: green;
    font-weight: 800;
}

section#umiejetnosci article#moje-umiejetnosci {
    width: 100%;
    display: inline-block;
    text-align: center;
    line-height: 24px;
    margin: 30px 0;
}

section#umiejetnosci article#moje-umiejetnosci h3 {
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    text-align: center;
    margin: 50px;
}

section#umiejetnosci article#ikony {
    width: 100%;
    margin: 30px 0;
}

section#umiejetnosci article#ikony img {
    padding: 20px;
}


/*section#umiejetnosci*/


/*sekcja moje portfolio*/

section#portfolio {
    width: 100%;
    text-align: center;
    height: auto;
    background-color: white;
}

section#portfolio header {
    margin: 30px 0;
    text-align: center;
}


section#portfolio h1{
    font-weight: 100;
    color:black;
}

section#portfolio h1 span {
    color: green;
    font-weight: 800;
}


/*awkcja ze zdjeciami*/

section#portfolio article {
    width: 80vw;
    height: auto;
    display: inline-block;
    text-align: center;
}

section#portfolio div {
    width: 33.3%;
    height: 30vh;
    float: left;
    display: inline-block;
    text-align: center;
}

section#portfolio div.przyklad1 {
    background-image: url(../img/portfolio1.jpg);
    background-size: cover;
}

section#portfolio div.przyklad2 {
    background-image: url(../img/portfolio2.jpg);
    background-size: cover;
}

section#portfolio div.przyklad3 {
    background-image: url(../img/portfolio3.jpg);
    background-size: cover;
}

section#portfolio div.przyklad1 div {
    position: relative;
    width: 100%;
    height: 30vh;
    background-color: rgba(76, 175, 80, 0.3);
    opacity: 0;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
}

section#portfolio div.przyklad2 div {
    position: relative;
    width: 100%;
    height: 30vh;
    background-color: rgba(76, 175, 80, 0.3);
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

section#portfolio div.przyklad3 div {
    position: relative;
    width: 100%;
    height: 30vh;
    background-color: rgba(76, 175, 80, 0.3);
    opacity: 0;
    transition: all 0.4s ease-in-out;
}


/*
section#portfolio div.przyklad3 div.opis3 div{
    border: 2px solid black;
    width: 90%;
    height: 90%;
    
}
*/

section#portfolio article h3 {
    font-size: 13px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    border: 2px solid black;
}

section#portfolio div.przyklad1 div:hover {
    opacity: 1;
}

section#portfolio div.przyklad2 div:hover {
    opacity: 1;
}

section#portfolio div.przyklad3 div:hover {
    opacity: 1;
}


/*Sekcja kontakt*/

section#kontakt {
    background-color: #213b50;
    overflow: hidden;
    color: white;
}

section#kontakt h1 {
    margin-left: 50px;
    font-size: 38px;
    text-align: left;
    color: white;
}

section#kontakt h1 span {
    color: green;
}

section#kontakt article#dane {
    width: 50%;
    float: left;
}

section#kontakt adress#dane-adress {
    margin: 72px 0;
    font-style: normal;
    background-color: darkcyan;
    line-height: 25px;
}

section#kontakt adress#dane-adress h2{
    margin-left: 50px;
}
section#kontakt adress#dane-adress a {
    color: aqua;
}

section#kontakt article#dane div.social-media-icons a {
    display: inline-block;
    color: white;
    border: 1px solid white;
    height: 38px;
    width: 38px;
    line-height: 38px;
    margin-right: 30px;
    margin-left: 50px;
    font-size: 22px;
    text-align: center;
}
section#kontakt article#dane  div.social-media-icons a:hover {
    color: #1ac085;
    border: 1px solid #1ac085;
}

section#kontakt article#formulaz {
    width: 50%;
    margin-top: 100px;
    float: left;
}

section#kontakt article#formulaz form{
    width: 70%;
    float: left;
}

section#kontakt article#formulaz form input,
section#kontakt article#formulaz form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #2b4a64;
    border: #2b4a64;
    color: #fff;
}

section#kontakt article#formulaz form input:focus,
section#kontakt article#formulaz form textarea:focus{
     background-color: #426684;
}

section#kontakt article#formulaz form input[type="submit"]{
        background-color: #1ac056;;
    color: #fff;
    width: auto;
    text-transform: uppercase;
    font-weight: 600;
    padding: 15px 30px;
    float: right;
    border: 1px #1ac056;
    margin-right: 0;
}

section#kontakt article#formulaz form input[type="submit"]:hover{
    background-color: #fff;
    color: #1ac056;
    cursor: pointer;
}