*{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    color: #291f1a;
}

body{
    margin: 0;
}



nav{
    width: 100%;
    position: fixed;
    text-align: right;
    background-color: white;
    z-index: 10;
}

nav ul li {
    display: inline-block;
    text-align: center;
    padding: 20px;
}

nav ul li a{
    font-weight: 300;
    text-decoration: none;
    text-transform: lowercase;
}

nav ul li a:hover{
    
    color: green;

}

section{
    width: 100%;
    margin: 0;
}
/*sekcja gdzie wyswietla się imie i nazwisko*/
section#imie{
 
    height: 90vh;
    background-image: url(../img/header-background.jpg);
    background-size: cover;
    text-align: center;
   
}

section#imie h1{
    font-size: 120px;
    height: 100px;
    display: inline-block;
    margin-top: 230px;
    line-height: 100px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 300;



}

section#imie h1 span#nazwisko{
    color: green;
    font-weight: 800;
}

section#imie h1 span#pod_nazwiskiem{
    font-size: 40px;
    color: white;
    font-weight: 100;
}


/*sekcja z opisem o mnie*/

section#omnie{
    background: #f9fcfe;
    text-align: center;
    overflow: hidden;
    box-shadow: 0px 2px 6px 1px rgba(0,0,0,0.75);
  
}

section#omnie header {
    margin: 30px 0;
}

section#omnie h1{
    font-weight: 300;
    display: inline-block;
    margin-top: 30;

}

section#omnie h1 span{
    color: green;
    font-weight: 800;
}

section#omnie div.o-mnie-foto{
    width: 50%;
    float: left;
    
}

section#omnie img.foto-ja{
    width: 100%;
    height: auto;
    text-align: center;
    box-shadow: 0px 2px 6px 1px rgba(0,0,0,0.75);
}

section#omnie div.o-mnie-opis{
    width: 50%;  
    text-align: justify;
    float: left;
    line-height: 24px;
    
  
}


section#omnie div.o-mnie-opis p{
    width: 100%;
   
}


/*sekcja moje umiejetnosci*/
section#umiejetnosci{
    
    height: 600px;
    background-color: white;
    text-align: center;
    
}

section#umiejetnosci h1 span{
    color: green;
}
/*sekcja moje portfolio*/
section#portfolio{
    height: 600px;
    background-color: white;
    text-align: center;
}

section#portfolio h1{

}

section#portfolio h1 span{
    color:green; 
}

/*Sekcja kontakt*/

section#kontakt{
    height: 400px;
    background-color: #213b50;
    text-align: center;
}

section#kontakt h1{

}
section#kontakt h1 span{
    color: green;
}